<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="../ripple/ripple.css">
</head>
<style>
    html,
    body {
        font-family: "Roboto", sans-serif;
    }
</style>

<body>
    <md-button>BUTTON</md-button>
    <md-button outlined>BUTTON</md-button>
    <md-button raised>BUTTON</md-button>
    <md-button floating-action><i class="material-icons">add</i></md-button>
    <script src="../ripple/ripple.js"></script>
</body>

</html>