<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="list.css">
</head>
<style>
    html,
    body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        background: lightgray;
    }
</style>

<body>
    <ms-list reverse>
        <ms-list-item value="Mika Reich">
            <ms-visual><i class="material-icons">account_circle</i></ms-visual>
            <ms-content>
                <ms-primary>Mika Reich</ms-primary>
                <ms-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem. Maiores
                    laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi numquam
                    laboriosam amet est mollitia.</ms-secondary>
            </ms-content>
        </ms-list-item>
        <ms-list-item value="Peter Parker">
            <ms-visual><i class="material-icons">account_circle</i></ms-visual>
            <ms-content>
                <ms-primary>Peter Parker</ms-primary>
                <ms-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem. Maiores
                    laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi numquam
                    laboriosam amet est mollitia.</ms-secondary>
            </ms-content>
        </ms-list-item>
        <ms-list-item value="Justus Jonas">
            <ms-visual><i class="material-icons">account_circle</i></ms-visual>
            <ms-content>
                <ms-primary>Justus Jonas</ms-primary>
                <ms-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem. Maiores
                    laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi numquam
                    laboriosam amet est mollitia.</ms-secondary>
            </ms-content>
        </ms-list-item>
        <ms-list-item value="Bob Andrews">
            <ms-visual><i class="material-icons">account_circle</i></ms-visual>
            <ms-content>
                <ms-primary>Bob Andrews</ms-primary>
                <ms-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem. Maiores
                    laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi numquam
                    laboriosam amet est mollitia.</ms-secondary>
            </ms-content>
        </ms-list-item>
    </ms-list>
    <script src="./list.js"></script>
</body>

</html>