md-list {
  display: flex;
  flex-direction: column;
  background: white;
  > md-list-item {
    display: flex;
    padding: 10px;
    > md-visual {
      display: flex;
      padding: 5px;
      align-self: center;
    }
    > md-content {
      display: flex;
      flex-wrap: wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      align-items: center;
      > md-secondary {
        color: #7e7e7e;
        width: 100%;
      }
    }
    > hr {
      position: absolute;
      left: 5%;
      align-self: flex-end;
      width: 90%;
      border: none;
      border-bottom: 1px solid lightgray;
    }
  }
}
