<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drawer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ripple/ripple.css">
    <link rel="stylesheet" href="../list/list.css   ">
    <link rel="stylesheet" href="drawer.css">

</head>
<style>
    html,
    body {
        font-family: "Roboto", sans-serif;
        background: rgb(243, 243, 243);
        margin: 0;
    }
</style>

<body>
    <md-drawer>
        <md-list>
            <md-list-item value="Mika Reich">
                <md-visual><i class="material-icons">account_circle</i></md-visual>
                <md-content>
                    <md-primary>Mika Reich</md-primary>
                    <md-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem.
                        Maiores
                        laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi
                        numquam
                        laboriosam amet est mollitia.</md-secondary>
                </md-content>
            </md-list-item>
            <md-list-item value="Peter Parker">
                <md-visual><i class="material-icons">account_circle</i></md-visual>
                <md-content>
                    <md-primary>Peter Parker</md-primary>
                    <md-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem.
                        Maiores
                        laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi
                        numquam
                        laboriosam amet est mollitia.</md-secondary>
                </md-content>
            </md-list-item>
            <md-list-item value="Justus Jonas">
                <md-visual><i class="material-icons">account_circle</i></md-visual>
                <md-content>
                    <md-primary>Justus Jonas</md-primary>
                    <md-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem.
                        Maiores
                        laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi
                        numquam
                        laboriosam amet est mollitia.</md-secondary>
                </md-content>
            </md-list-item>
            <md-list-item value="Bob Andrews">
                <md-visual><i class="material-icons">account_circle</i></md-visual>
                <md-content>
                    <md-primary>Bob Andrews</md-primary>
                    <md-secondary>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, exercitationem.
                        Maiores
                        laboriosam neque veniam, quibusdam nemo sed officia. Quia vitae, vero esse fugit quidem modi
                        numquam
                        laboriosam amet est mollitia.</md-secondary>
                </md-content>
            </md-list-item>
        </md-list>
    </md-drawer>
    <script src="../list/list.js"></script>
    <script src="../ripple/ripple.js"></script>
</body>

</html>