@import "../../mika.scss";

ms-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    background: white;
    border-radius: 5px;
}

ms-list-item-visual {
    width: 10%;
}

ms-list-item-one,
ms-list-item-two {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
}
ms-list-item-two{
    height: 70px;
}


ms-list-item-primary-text {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

ms-list-item-secondary-text {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: gray;
    margin: 0 auto;
}

ms-list-item-metadata {
    position: absolute;
    width: 10%;
    color: gray;
    text-align: center;
    right: 0;
}

@media only screen and (max-width: 400px) {
    ms-list {
        min-width: 100%;
    }
}